﻿<form method="post" enctype="multipart/form-data" action="/adminbook/create" >


    <input type="text" name="nombre" placeholder="nombre" value="" />
    <input type="text" name="autor" placeholder="autor" value="" />
    <input type="file" name="file" value="" />

    
    <button>Guardar</button>
</form>