﻿<form method="post" enctype="multipart/form-data" action="/adminbook/editar?id=@Model.id">


    <input type="text" name="nombre" placeholder="nombre" value="@Model.nombre" />
    <input type="text" name="autor" placeholder="autor" value="@Model.autor.nombre" />
    <img  src="@Model.portada" />
    <input type="file" name="file" value="" />


    <button>Guardar</button>
</form>