﻿@{
    
}
<html>
<head>


</head>
<body>
    <main>
        <section class="row">
            @foreach (Libro libro in Model)
            {
            <div class="col-4 text-xl-center mt-3">
                <a href="https://localhost:44344/Book/Detalle?id=@libro.id"><img src="@libro.portada" /> </a>
                <div><b>@libro.nombre</b></div>
                <ul>
                    @foreach (book_autor ba in libro.bookAutores)
                    {
                    <li>
                        <div><small>@ba.autor.nombre</small></div>
                    </li>
                    }
                </ul>

            </div>
            }

        </section>
    </main>
</body>

</html>