﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>

</head>
<body>
    <main>
        <form method="post" action="https://localhost:44344/Book/Addcomentario?idBook=@Model.book.id">
            <h1><img src="@Model.book.portada" height="200" width="200" />@Model.book.nombre</h1>
            <ul>
                @foreach (Comentario comentario in Model.coments)
                {
                    <li>@comentario.contenido</li>
                }
            </ul>
            @Html.ValidationMessage("contenido")
            <h3>Agrega un comentario</h3>
            <textarea name="contenido" rows="10" cols="100" required></textarea>
            <button>Enviar</button>
        </form>
        

    </main>
</body>
</html>